@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif !important;
    background-color: #313131 !important;
}
header {
    background-color: #313131;
}
header .bg {
    background-color: #272727;
}
header .mobile-toggler {
    display: none;
}
.mobile {
    display: none;
}

@media (max-width: 768px) {
    header .mobile-toggler {
        display: block;
    }
    .mobile {
        display: block;
    }
}
nav ul li.nav-item {
    margin: 0 5px;
}
nav ul li a {
    color: #878787 !important;
    font-weight: 700;
}
nav ul li a.active {
    color: #F2A900 !important;
}
nav ul li a .dropdown-menu {
    background-color: #313131 !important;
}
.lang i {
    color: #fff;
}

/* main */

.move {
    transform: translateX(-130px);
}
.caption {
    position: absolute;
    bottom: 45%;
    right: 75%;
    z-index: 100;
}
.caption span {
    color: #F2A900;
    padding: 2px;
    background-color: #272727;
}
.carousel img:nth-child(1) {
    position: absolute;
}
.carousel img:nth-child(2) {
    position: absolute;
    z-index: 10;
}
.carousel img:nth-child(3) {
    position: absolute;
    top: 25%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: translateY(-14rem);
}
.side-info {
    position: absolute;
    right: 0;
    top: 15%;
    z-index: 10;
}
.side-info h3 {
    color: #F2A900;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.bar-info {
    position: absolute;
    background-color: #00000087;
    width: 250px;
    bottom: 50%;
    left: 10%;
}
.bar-info img {
    width: 50px;
    height: 50px;
    border-left: 3px solid #F2A900;
}
.bar-info span {
    font-size: 28px;
    color: #ddd;
    font-weight: 600;
    margin: 0 auto;
    text-transform: uppercase;
}
.bar-info2 {
    position: absolute;
    background-color: #00000087;
    width: 250px;
    bottom: 5%;
    left: 10%;
}
.bar-info2 img {
    width: 50px;
    height: 50px;
    border-left: 3px solid #F2A900;
}
.bar-info2 span {
    font-size: 28px;
    color: #ddd;
    font-weight: 600;
    margin: 0 auto;
    text-transform: uppercase;
}

/*news main*/

.news figure img {
    width: calc(100% + 7px);
    height: 100%;
    /* margin-left: -15px; */
    object-fit: cover;
    object-position: center top;
    transition: transform cubic-bezier(0, 0, 0, 1) 0.75s;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 10%);
    /* pointer-events: none;*/
}
.news .news-content {
    display: flex;
    flex-direction: column;
    max-width: 315px;
    height: 137px;
    color: #ddd;
    padding: 0 15px 20px;
    position: absolute;
    margin-top: 72px;
    background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%, rgba(16, 16, 16, 0.5) 100%);
}
.news .news-content .categories span {
    font-size: 13px;
    padding: 2px 4px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.news .news-content .date-time p {
    margin: 0 1rem 0 0;
}
.news .news-content h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.news .news-card img {
    width: 100%;
}
.btn-news {
    background-color: #F2A900;
    color: #272727;
    font-weight: 700;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin: 0;
    letter-spacing: 1px;
    transition: 0.2s ease-in;
}
.btn-news:hover {
    background-color: #cc8f02;
}
.btn-news i {
    font-size: 12px;
}

/*aside*/

aside h3 {
    text-transform: uppercase;
    color: #F2A900;
    font-size: 14px;
    font-weight: 700;
}
aside .aside-content {
    background-color: #272727;
    padding: 10px;
    color: #A5A5A5;
    border-left: 3px solid #4e4e4e;
    transition: 0.2s ease-in;
}
aside .aside-content:hover {
    background-color: #202020;
    border-left: 3px solid #3b3b3b;
}
aside .aside-content div:nth-child(1) {
    margin: 3px 0;
}
aside .aside-content div:nth-child(1) span{
    padding: 0 4px;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}
aside .aside-content h5 {
    font-weight: 700;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    width: 175px;
    height: 40px;
}
aside .aside-content .date-time {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 700;
}
aside .card-aside img {
    width: 165px;
}
.card-aside figure {
    width: unset;
    overflow: hidden;
    margin: 0 auto;
}

/*Leagues section*/

.leagues {
    background-color: #272727;
}
.leagues h1 {
    font-weight: 700;
    color: #E5E5E5;
    font-size: 42px;
    letter-spacing: 2px;
}
.leagues span {
    color: #878787;
    margin: 0 5px;
}
.leagues span.active {
    color: #F2A900;
    border-bottom: 2px solid #F2A900;
}
.leagues .card-league img {
    width: 104%;
}
.leagues .golds span {
    margin: 0;
}
.leagues .golds span:nth-child(1) {
    padding: 10px;
    background: url(/Img/cards-league/gold.png);
    color: #202020;
    width: 50%;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.leagues .golds span:nth-child(2) {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    color: #F2A900;
}
.leagues .score {
    background-color: #272727;
    padding-bottom: .5rem;
    border-bottom: 4px solid #F2A900;
}
.leagues .score .border-right {
    border-right: 2px solid #202020;
}
.leagues .score span:nth-child(1) {
    font-size: 14px;
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.2;
}
.leagues .score span:nth-child(2) {
    color: #F2A900;
    font-weight: 700;
}